{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion API",
    "version": "2.0.0",
    "description": "Notion API 2025-09-03 - Data Source Edition. Breaking change: Database endpoints replaced with data source endpoints.",
    "license": {
      "name": "MIT",
      "url": "https://github.com/makenotion/notion-sdk-js/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.notion.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "parameters": {
      "notionVersion": {
        "name": "Notion-Version",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "default": "2025-09-03"
        },
        "description": "The Notion API version"
      }
    },
    "schemas": {
      "richTextRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "type": {
            "enum": [
              "text"
            ],
            "type": "string"
          },
          "text": {
            "type": "object",
            "required": [
              "content"
            ],
            "properties": {
              "content": {
                "type": "string"
              },
              "link": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              }
            },
            "additionalProperties": false
          },
          "annotations": {
            "type": "object",
            "properties": {
              "bold": {
                "type": "boolean",
                "default": false
              },
              "italic": {
                "type": "boolean",
                "default": false
              },
              "strikethrough": {
                "type": "boolean",
                "default": false
              },
              "underline": {
                "type": "boolean",
                "default": false
              },
              "code": {
                "type": "boolean",
                "default": false
              },
              "color": {
                "type": "string",
                "enum": [
                  "default",
                  "gray",
                  "brown",
                  "orange",
                  "yellow",
                  "green",
                  "blue",
                  "purple",
                  "pink",
                  "red",
                  "gray_background",
                  "brown_background",
                  "orange_background",
                  "yellow_background",
                  "green_background",
                  "blue_background",
                  "purple_background",
                  "pink_background",
                  "red_background"
                ],
                "default": "default"
              }
            }
          },
          "plain_text": {
            "type": "string"
          },
          "href": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "mentionRequest": {
        "type": "object",
        "properties": {
          "type": {
            "enum": [
              "mention"
            ],
            "type": "string"
          },
          "mention": {
            "type": "object",
            "properties": {
              "type": {
                "enum": [
                  "user",
                  "page",
                  "database",
                  "date",
                  "now"
                ]
              },
              "user": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "page": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "database": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "date": {
                "type": "string"
              }
            }
          },
          "plain_text": {
            "type": "string"
          },
          "href": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "pageIdParentRequest": {
        "type": "object",
        "properties": {
          "page_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "page_id"
        ]
      },
      "dataSourceIdParentRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "database_id"
          },
          "database_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "database_id"
        ]
      },
      "parentRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/pageIdParentRequest"
          },
          {
            "$ref": "#/components/schemas/dataSourceIdParentRequest"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "workspace"
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "movePageParentRequest": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "page_id"
              },
              "page_id": {
                "type": "string",
                "format": "uuid"
              }
            },
            "required": [
              "type",
              "page_id"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "database_id"
              },
              "database_id": {
                "type": "string",
                "format": "uuid"
              }
            },
            "required": [
              "type",
              "database_id"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "workspace"
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "sortObject": {
        "oneOf": [
          {
            "type": "object",
            "description": "Sort by a property",
            "required": [
              "property",
              "direction"
            ],
            "properties": {
              "property": {
                "type": "string",
                "description": "The name of the property to sort by"
              },
              "direction": {
                "enum": [
                  "ascending",
                  "descending"
                ],
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "description": "Sort by page timestamp",
            "required": [
              "timestamp",
              "direction"
            ],
            "properties": {
              "timestamp": {
                "enum": [
                  "created_time",
                  "last_edited_time"
                ],
                "type": "string",
                "description": "Use this instead of 'property' to sort by timestamp"
              },
              "direction": {
                "enum": [
                  "ascending",
                  "descending"
                ],
                "type": "string"
              }
            }
          }
        ]
      },
      "checkboxFilter": {
        "type": "object",
        "description": "Filter conditions for checkbox property type",
        "properties": {
          "equals": {
            "type": "boolean",
            "description": "Check if checkbox equals the specified value"
          },
          "does_not_equal": {
            "type": "boolean",
            "description": "Check if checkbox does not equal the specified value"
          }
        }
      },
      "dateFilter": {
        "type": "object",
        "description": "Filter conditions for date property type",
        "properties": {
          "equals": {
            "type": "string",
            "format": "date-time",
            "description": "Check if date equals the specified ISO 8601 date"
          },
          "before": {
            "type": "string",
            "format": "date-time",
            "description": "Check if date is before the specified ISO 8601 date"
          },
          "after": {
            "type": "string",
            "format": "date-time",
            "description": "Check if date is after the specified ISO 8601 date"
          },
          "on_or_before": {
            "type": "string",
            "format": "date-time",
            "description": "Check if date is on or before the specified ISO 8601 date"
          },
          "on_or_after": {
            "type": "string",
            "format": "date-time",
            "description": "Check if date is on or after the specified ISO 8601 date"
          },
          "is_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if date is empty"
          },
          "is_not_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if date is not empty"
          },
          "past_week": {
            "type": "object",
            "description": "Check if date is within the past week",
            "additionalProperties": false
          },
          "past_month": {
            "type": "object",
            "description": "Check if date is within the past month",
            "additionalProperties": false
          },
          "past_year": {
            "type": "object",
            "description": "Check if date is within the past year",
            "additionalProperties": false
          },
          "next_week": {
            "type": "object",
            "description": "Check if date is within the next week",
            "additionalProperties": false
          },
          "next_month": {
            "type": "object",
            "description": "Check if date is within the next month",
            "additionalProperties": false
          },
          "next_year": {
            "type": "object",
            "description": "Check if date is within the next year",
            "additionalProperties": false
          },
          "this_week": {
            "type": "object",
            "description": "Check if date is within the current week",
            "additionalProperties": false
          }
        }
      },
      "filesFilter": {
        "type": "object",
        "description": "Filter conditions for files property type",
        "properties": {
          "is_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if files array is empty"
          },
          "is_not_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if files array is not empty"
          }
        }
      },
      "multiSelectFilter": {
        "type": "object",
        "description": "Filter conditions for multi-select property type",
        "properties": {
          "contains": {
            "type": "string",
            "description": "Check if multi-select contains the specified option"
          },
          "does_not_contain": {
            "type": "string",
            "description": "Check if multi-select does not contain the specified option"
          },
          "is_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if multi-select is empty"
          },
          "is_not_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if multi-select is not empty"
          }
        }
      },
      "numberFilter": {
        "type": "object",
        "description": "Filter conditions for number property type",
        "properties": {
          "equals": {
            "type": "number",
            "description": "Check if number equals the specified value"
          },
          "does_not_equal": {
            "type": "number",
            "description": "Check if number does not equal the specified value"
          },
          "greater_than": {
            "type": "number",
            "description": "Check if number is greater than the specified value"
          },
          "less_than": {
            "type": "number",
            "description": "Check if number is less than the specified value"
          },
          "greater_than_or_equal_to": {
            "type": "number",
            "description": "Check if number is greater than or equal to the specified value"
          },
          "less_than_or_equal_to": {
            "type": "number",
            "description": "Check if number is less than or equal to the specified value"
          },
          "is_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if number is empty"
          },
          "is_not_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if number is not empty"
          }
        }
      },
      "peopleFilter": {
        "type": "object",
        "description": "Filter conditions for people property type",
        "properties": {
          "contains": {
            "type": "string",
            "format": "uuid",
            "description": "Check if people contains the specified user ID (UUIDv4)"
          },
          "does_not_contain": {
            "type": "string",
            "format": "uuid",
            "description": "Check if people does not contain the specified user ID (UUIDv4)"
          },
          "is_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if people array is empty"
          },
          "is_not_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if people array is not empty"
          }
        }
      },
      "relationFilter": {
        "type": "object",
        "description": "Filter conditions for relation property type",
        "properties": {
          "contains": {
            "type": "string",
            "format": "uuid",
            "description": "Check if relation contains the specified page ID (UUIDv4)"
          },
          "does_not_contain": {
            "type": "string",
            "format": "uuid",
            "description": "Check if relation does not contain the specified page ID (UUIDv4)"
          },
          "is_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if relation is empty"
          },
          "is_not_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if relation is not empty"
          }
        }
      },
      "richTextFilter": {
        "type": "object",
        "description": "Filter conditions for rich text property type",
        "properties": {
          "equals": {
            "type": "string",
            "description": "Check if text equals the specified value"
          },
          "does_not_equal": {
            "type": "string",
            "description": "Check if text does not equal the specified value"
          },
          "contains": {
            "type": "string",
            "description": "Check if text contains the specified value"
          },
          "does_not_contain": {
            "type": "string",
            "description": "Check if text does not contain the specified value"
          },
          "starts_with": {
            "type": "string",
            "description": "Check if text starts with the specified value"
          },
          "ends_with": {
            "type": "string",
            "description": "Check if text ends with the specified value"
          },
          "is_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if text is empty"
          },
          "is_not_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if text is not empty"
          }
        }
      },
      "selectFilter": {
        "type": "object",
        "description": "Filter conditions for select property type",
        "properties": {
          "equals": {
            "type": "string",
            "description": "Check if select equals the specified option"
          },
          "does_not_equal": {
            "type": "string",
            "description": "Check if select does not equal the specified option"
          },
          "is_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if select is empty"
          },
          "is_not_empty": {
            "type": "boolean",
            "const": true,
            "description": "Check if select is not empty"
          }
        }
      },
      "paragraphBlockRequest": {
        "type": "object",
        "properties": {
          "paragraph": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": [
                  "default",
                  "gray",
                  "brown",
                  "orange",
                  "yellow",
                  "green",
                  "blue",
                  "purple",
                  "pink",
                  "red",
                  "gray_background",
                  "brown_background",
                  "orange_background",
                  "yellow_background",
                  "green_background",
                  "blue_background",
                  "purple_background",
                  "pink_background",
                  "red_background"
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "paragraph"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "bulletedListItemBlockRequest": {
        "type": "object",
        "properties": {
          "bulleted_list_item": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": [
                  "default",
                  "gray",
                  "brown",
                  "orange",
                  "yellow",
                  "green",
                  "blue",
                  "purple",
                  "pink",
                  "red",
                  "gray_background",
                  "brown_background",
                  "orange_background",
                  "yellow_background",
                  "green_background",
                  "blue_background",
                  "purple_background",
                  "pink_background",
                  "red_background"
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "bulleted_list_item"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "heading1BlockRequest": {
        "type": "object",
        "properties": {
          "heading_1": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": [
                  "default",
                  "gray",
                  "brown",
                  "orange",
                  "yellow",
                  "green",
                  "blue",
                  "purple",
                  "pink",
                  "red",
                  "gray_background",
                  "brown_background",
                  "orange_background",
                  "yellow_background",
                  "green_background",
                  "blue_background",
                  "purple_background",
                  "pink_background",
                  "red_background"
                ]
              },
              "is_toggleable": {
                "type": "boolean"
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "heading_1"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "heading2BlockRequest": {
        "type": "object",
        "properties": {
          "heading_2": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": [
                  "default",
                  "gray",
                  "brown",
                  "orange",
                  "yellow",
                  "green",
                  "blue",
                  "purple",
                  "pink",
                  "red",
                  "gray_background",
                  "brown_background",
                  "orange_background",
                  "yellow_background",
                  "green_background",
                  "blue_background",
                  "purple_background",
                  "pink_background",
                  "red_background"
                ]
              },
              "is_toggleable": {
                "type": "boolean"
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "heading_2"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "heading3BlockRequest": {
        "type": "object",
        "properties": {
          "heading_3": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": [
                  "default",
                  "gray",
                  "brown",
                  "orange",
                  "yellow",
                  "green",
                  "blue",
                  "purple",
                  "pink",
                  "red",
                  "gray_background",
                  "brown_background",
                  "orange_background",
                  "yellow_background",
                  "green_background",
                  "blue_background",
                  "purple_background",
                  "pink_background",
                  "red_background"
                ]
              },
              "is_toggleable": {
                "type": "boolean"
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "heading_3"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "numberedListItemBlockRequest": {
        "type": "object",
        "properties": {
          "numbered_list_item": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": [
                  "default",
                  "gray",
                  "brown",
                  "orange",
                  "yellow",
                  "green",
                  "blue",
                  "purple",
                  "pink",
                  "red",
                  "gray_background",
                  "brown_background",
                  "orange_background",
                  "yellow_background",
                  "green_background",
                  "blue_background",
                  "purple_background",
                  "pink_background",
                  "red_background"
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "numbered_list_item"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "toDoBlockRequest": {
        "type": "object",
        "properties": {
          "to_do": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "checked": {
                "type": "boolean"
              },
              "color": {
                "type": "string",
                "enum": [
                  "default",
                  "gray",
                  "brown",
                  "orange",
                  "yellow",
                  "green",
                  "blue",
                  "purple",
                  "pink",
                  "red",
                  "gray_background",
                  "brown_background",
                  "orange_background",
                  "yellow_background",
                  "green_background",
                  "blue_background",
                  "purple_background",
                  "pink_background",
                  "red_background"
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "to_do"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "codeBlockRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "language": {
                "type": "string",
                "enum": [
                  "abap",
                  "arduino",
                  "bash",
                  "basic",
                  "c",
                  "clojure",
                  "coffeescript",
                  "c++",
                  "c#",
                  "css",
                  "dart",
                  "diff",
                  "docker",
                  "elixir",
                  "elm",
                  "erlang",
                  "flow",
                  "fortran",
                  "f#",
                  "gherkin",
                  "glsl",
                  "go",
                  "graphql",
                  "groovy",
                  "haskell",
                  "html",
                  "java",
                  "javascript",
                  "json",
                  "julia",
                  "kotlin",
                  "latex",
                  "less",
                  "lisp",
                  "livescript",
                  "lua",
                  "makefile",
                  "markdown",
                  "markup",
                  "matlab",
                  "mermaid",
                  "nix",
                  "objective-c",
                  "ocaml",
                  "pascal",
                  "perl",
                  "php",
                  "plain text",
                  "powershell",
                  "prolog",
                  "protobuf",
                  "python",
                  "r",
                  "reason",
                  "ruby",
                  "rust",
                  "sass",
                  "scala",
                  "scheme",
                  "scss",
                  "shell",
                  "sql",
                  "swift",
                  "typescript",
                  "vb.net",
                  "verilog",
                  "vhdl",
                  "visual basic",
                  "webassembly",
                  "xml",
                  "yaml",
                  "java/c/c++/c#"
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text",
              "language"
            ]
          },
          "type": {
            "enum": [
              "code"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "quoteBlockRequest": {
        "type": "object",
        "properties": {
          "quote": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": [
                  "default",
                  "gray",
                  "brown",
                  "orange",
                  "yellow",
                  "green",
                  "blue",
                  "purple",
                  "pink",
                  "red",
                  "gray_background",
                  "brown_background",
                  "orange_background",
                  "yellow_background",
                  "green_background",
                  "blue_background",
                  "purple_background",
                  "pink_background",
                  "red_background"
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "quote"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "syncedBlockRequest": {
        "type": "object",
        "description": "Reusable block that syncs content across all instances. Can be original (synced_from: null) with children, or duplicate (synced_from: {block_id}) without children.",
        "properties": {
          "synced_block": {
            "type": "object",
            "description": "Synced block configuration",
            "properties": {
              "synced_from": {
                "oneOf": [
                  {
                    "type": "null",
                    "description": "Original synced block that contains the source content"
                  },
                  {
                    "type": "object",
                    "description": "Duplicate synced block that references the original",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "block_id"
                        ]
                      },
                      "block_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "The ID of the original synced block"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "type",
                      "block_id"
                    ]
                  }
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "synced_from"
            ]
          },
          "children": {
            "type": "array",
            "description": "Child blocks (only for original synced blocks where synced_from is null)",
            "items": {
              "$ref": "#/components/schemas/blockObjectRequest"
            }
          },
          "type": {
            "enum": [
              "synced_block"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "synced_block"
        ]
      },
      "dividerBlockRequest": {
        "type": "object",
        "properties": {
          "divider": {
            "type": "object",
            "properties": {},
            "additionalProperties": false
          },
          "type": {
            "enum": [
              "divider"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "type"
        ]
      },
      "embedBlockRequest": {
        "type": "object",
        "description": "Embed block for displaying external content from services like Figma, YouTube, Twitter, Google Maps, Miro, and more. The embed block displays a preview of the external website within the Notion UI.",
        "properties": {
          "embed": {
            "type": "object",
            "description": "Embed object containing the URL to the external content",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "The URL of the website to embed. Supports services like Figma, YouTube, Twitter/X, Google Maps, Miro, PDF files, and other embeddable content."
              }
            },
            "required": [
              "url"
            ],
            "additionalProperties": false
          },
          "type": {
            "const": "embed",
            "type": "string",
            "description": "Always equals 'embed' for embed blocks"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "embed"
        ]
      },
      "breadcrumbBlockRequest": {
        "type": "object",
        "description": "Breadcrumb navigation block showing page hierarchy path",
        "properties": {
          "breadcrumb": {
            "type": "object",
            "properties": {},
            "additionalProperties": false
          },
          "type": {
            "const": "breadcrumb",
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "type"
        ]
      },
      "equationBlockRequest": {
        "type": "object",
        "description": "Mathematical formula block using KaTeX syntax. Example expressions: 'E = mc^2', '\\frac{a}{b}', 'x^2 + y^2 = z^2', '\\sum_{i=0}^{n} i^2'",
        "properties": {
          "equation": {
            "type": "object",
            "properties": {
              "expression": {
                "type": "string",
                "description": "KaTeX-compatible mathematical expression. Examples: simple formulas like 'E = mc^2', complex notation like '\\frac{a}{b}' or '\\int_{0}^{\\infty} x^{-1} dx'"
              }
            },
            "additionalProperties": false,
            "required": [
              "expression"
            ]
          },
          "type": {
            "enum": [
              "equation"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "equation"
        ]
      },
      "calloutBlockRequest": {
        "type": "object",
        "properties": {
          "callout": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "icon": {
                "type": "object",
                "properties": {
                  "emoji": {
                    "type": "string"
                  }
                }
              },
              "color": {
                "type": "string",
                "enum": [
                  "default",
                  "gray",
                  "brown",
                  "orange",
                  "yellow",
                  "green",
                  "blue",
                  "purple",
                  "pink",
                  "red",
                  "gray_background",
                  "brown_background",
                  "orange_background",
                  "yellow_background",
                  "green_background",
                  "blue_background",
                  "purple_background",
                  "pink_background",
                  "red_background"
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "callout"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "toggleBlockRequest": {
        "type": "object",
        "properties": {
          "toggle": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": [
                  "default",
                  "gray",
                  "brown",
                  "orange",
                  "yellow",
                  "green",
                  "blue",
                  "purple",
                  "pink",
                  "red",
                  "gray_background",
                  "brown_background",
                  "orange_background",
                  "yellow_background",
                  "green_background",
                  "blue_background",
                  "purple_background",
                  "pink_background",
                  "red_background"
                ]
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "children": {
            "type": "array",
            "description": "Optional children inside the toggle (any block types)",
            "items": {
              "$ref": "#/components/schemas/blockObjectRequest"
            }
          },
          "type": {
            "enum": [
              "toggle"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "tableBlockRequest": {
        "type": "object",
        "properties": {
          "table": {
            "type": "object",
            "properties": {
              "table_width": {
                "type": "integer"
              },
              "has_column_header": {
                "type": "boolean"
              },
              "has_row_header": {
                "type": "boolean"
              }
            }
          },
          "children": {
            "type": "array",
            "description": "Table rows as children",
            "items": {
              "$ref": "#/components/schemas/tableRowBlockRequest"
            }
          },
          "type": {
            "enum": [
              "table"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "tableRowBlockRequest": {
        "type": "object",
        "properties": {
          "table_row": {
            "type": "object",
            "properties": {
              "cells": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/richTextRequest"
                  }
                }
              }
            },
            "required": [
              "cells"
            ]
          },
          "type": {
            "enum": [
              "table_row"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "tableOfContentsBlockRequest": {
        "type": "object",
        "properties": {
          "table_of_contents": {
            "type": "object",
            "properties": {
              "color": {
                "type": "string",
                "enum": [
                  "default",
                  "gray",
                  "brown",
                  "orange",
                  "yellow",
                  "green",
                  "blue",
                  "purple",
                  "pink",
                  "red",
                  "gray_background",
                  "brown_background",
                  "orange_background",
                  "yellow_background",
                  "green_background",
                  "blue_background",
                  "purple_background",
                  "pink_background",
                  "red_background"
                ]
              }
            }
          },
          "type": {
            "enum": [
              "table_of_contents"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "imageBlockRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "object",
            "properties": {
              "type": {
                "enum": [
                  "external",
                  "file"
                ]
              },
              "external": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              },
              "file": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "expiry_time": {
                    "type": "string"
                  }
                }
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                }
              }
            }
          },
          "type": {
            "enum": [
              "image"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "videoBlockRequest": {
        "type": "object",
        "properties": {
          "video": {
            "type": "object",
            "properties": {
              "type": {
                "enum": [
                  "external",
                  "file"
                ]
              },
              "external": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              },
              "file": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "expiry_time": {
                    "type": "string"
                  }
                }
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                }
              }
            }
          },
          "type": {
            "enum": [
              "video"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "fileBlockRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "object",
            "properties": {
              "type": {
                "enum": [
                  "external",
                  "file"
                ]
              },
              "external": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              },
              "file": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "expiry_time": {
                    "type": "string"
                  }
                }
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                }
              }
            }
          },
          "type": {
            "enum": [
              "file"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "audioBlockRequest": {
        "type": "object",
        "properties": {
          "audio": {
            "type": "object",
            "properties": {
              "type": {
                "enum": [
                  "external",
                  "file"
                ]
              },
              "external": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              },
              "file": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "expiry_time": {
                    "type": "string"
                  }
                }
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                }
              }
            }
          },
          "type": {
            "enum": [
              "audio"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "pdfBlockRequest": {
        "type": "object",
        "properties": {
          "pdf": {
            "type": "object",
            "properties": {
              "type": {
                "enum": [
                  "external",
                  "file"
                ]
              },
              "external": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              },
              "file": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "expiry_time": {
                    "type": "string"
                  }
                }
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                }
              }
            }
          },
          "type": {
            "enum": [
              "pdf"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "bookmarkBlockRequest": {
        "type": "object",
        "properties": {
          "bookmark": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                }
              }
            },
            "required": [
              "url"
            ]
          },
          "type": {
            "enum": [
              "bookmark"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "childDatabaseBlockRequest": {
        "type": "object",
        "description": "A child_database block represents an inline database within a page. This allows creating a database as a child of a page.",
        "properties": {
          "child_database": {
            "type": "object",
            "description": "Child database object containing the database title",
            "properties": {
              "title": {
                "type": "string",
                "description": "The plain text title of the database"
              }
            },
            "required": [
              "title"
            ],
            "additionalProperties": false
          },
          "type": {
            "enum": [
              "child_database"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "childPageBlockRequest": {
        "type": "object",
        "description": "A child_page block represents a page within a page. This allows creating a nested page structure.",
        "properties": {
          "child_page": {
            "type": "object",
            "description": "Child page object containing the page title",
            "properties": {
              "title": {
                "type": "string",
                "description": "The plain text title of the page"
              }
            },
            "required": [
              "title"
            ],
            "additionalProperties": false
          },
          "type": {
            "enum": [
              "child_page"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "columnListBlockRequest": {
        "type": "object",
        "description": "Container for multi-column layout, requires 2+ column children",
        "properties": {
          "column_list": {
            "type": "object",
            "description": "Column list object (empty property)",
            "additionalProperties": false
          },
          "children": {
            "type": "array",
            "description": "Column blocks (must have at least 2)",
            "items": {
              "$ref": "#/components/schemas/columnBlockRequest"
            },
            "minItems": 2
          },
          "type": {
            "enum": [
              "column_list"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "columnBlockRequest": {
        "type": "object",
        "description": "Individual column in a multi-column layout",
        "properties": {
          "column": {
            "type": "object",
            "description": "Column object with optional width ratio",
            "properties": {
              "width_ratio": {
                "type": "number",
                "description": "Width ratio between 0 and 1. Should sum to 1 across sibling columns. Defaults to equal widths when omitted.",
                "minimum": 0,
                "maximum": 1
              }
            },
            "additionalProperties": false
          },
          "children": {
            "type": "array",
            "description": "Child content inside the column (any block types except column)",
            "items": {
              "$ref": "#/components/schemas/blockObjectRequest"
            }
          },
          "type": {
            "enum": [
              "column"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "linkPreviewBlockRequest": {
        "type": "object",
        "description": "Rich link preview card showing title, description, and image from URL",
        "properties": {
          "link_preview": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "The URL to generate a link preview for"
              }
            },
            "required": [
              "url"
            ],
            "additionalProperties": false
          },
          "type": {
            "const": "link_preview",
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "link_preview"
        ]
      },
      "templateBlockRequest": {
        "type": "object",
        "description": "Template button that duplicates its children when clicked",
        "properties": {
          "template": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "description": "Optional rich text array for the template button label",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                }
              }
            },
            "additionalProperties": false
          },
          "children": {
            "type": "array",
            "description": "Template content to duplicate when the button is clicked",
            "items": {
              "$ref": "#/components/schemas/blockObjectRequest"
            }
          },
          "type": {
            "const": "template",
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "children"
        ]
      },
      "partialUser": {
        "type": "object",
        "description": "A partial user object with minimal information, used in page objects for created_by and last_edited_by fields",
        "properties": {
          "object": {
            "const": "user",
            "description": "Always equals 'user' for user objects"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the user (UUIDv4)"
          }
        },
        "required": [
          "object",
          "id"
        ]
      },
      "dataSourceProperty": {
        "type": "object",
        "description": "Schema definition for a single property in a data source",
        "required": [
          "id",
          "name",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the property"
          },
          "name": {
            "type": "string",
            "description": "Name of the property"
          },
          "type": {
            "type": "string",
            "enum": [
              "title",
              "rich_text",
              "number",
              "select",
              "multi_select",
              "date",
              "people",
              "files",
              "checkbox",
              "url",
              "email",
              "phone_number",
              "formula",
              "relation",
              "rollup",
              "created_time",
              "created_by",
              "last_edited_time",
              "last_edited_by",
              "status",
              "place",
              "unique_id"
            ],
            "description": "Type of the property"
          },
          "title": {
            "type": "object",
            "description": "Configuration for title type properties (empty object if present)"
          },
          "rich_text": {
            "type": "object",
            "description": "Configuration for rich text type properties (empty object if present)"
          },
          "number": {
            "type": "object",
            "description": "Configuration for number type properties",
            "properties": {
              "format": {
                "type": "string",
                "enum": [
                  "number",
                  "number_with_commas",
                  "percent",
                  "dollar",
                  "euro",
                  "pound",
                  "yen",
                  "ruble",
                  "rupee",
                  "won",
                  "yuan",
                  "hong_kong_dollar",
                  "new_zealand_dollar",
                  "krona",
                  "franc",
                  "dirham",
                  "peso",
                  "ringgit",
                  "baht",
                  "forint",
                  "koruna",
                  "shekel",
                  "rand",
                  "new_taiwan_dollar"
                ]
              }
            }
          },
          "select": {
            "type": "object",
            "description": "Configuration for select type properties",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "multi_select": {
            "type": "object",
            "description": "Configuration for multi-select type properties",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "date": {
            "type": "object",
            "description": "Configuration for date type properties (empty object if present)"
          },
          "people": {
            "type": "object",
            "description": "Configuration for people type properties (empty object if present)"
          },
          "files": {
            "type": "object",
            "description": "Configuration for files type properties (empty object if present)"
          },
          "checkbox": {
            "type": "object",
            "description": "Configuration for checkbox type properties (empty object if present)"
          },
          "url": {
            "type": "object",
            "description": "Configuration for URL type properties (empty object if present)"
          },
          "email": {
            "type": "object",
            "description": "Configuration for email type properties (empty object if present)"
          },
          "formula": {
            "type": "object",
            "description": "Configuration for formula type properties",
            "properties": {
              "expression": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          },
          "relation": {
            "type": "object",
            "description": "Configuration for relation type properties",
            "properties": {
              "database_id": {
                "type": "string",
                "format": "uuid"
              },
              "type": {
                "type": "string",
                "enum": [
                  "dual_property",
                  "single_property"
                ]
              }
            }
          },
          "rollup": {
            "type": "object",
            "description": "Configuration for rollup type properties",
            "properties": {
              "relation_property_name": {
                "type": "string"
              },
              "relation_property_id": {
                "type": "string",
                "format": "uuid"
              },
              "rollup_property_name": {
                "type": "string"
              },
              "rollup_property_id": {
                "type": "string",
                "format": "uuid"
              },
              "function": {
                "type": "string",
                "enum": [
                  "count",
                  "count_per_group",
                  "empty",
                  "not_empty",
                  "unique",
                  "percent_empty",
                  "percent_not_empty",
                  "percent_unique",
                  "average",
                  "median",
                  "min",
                  "max",
                  "range",
                  "sum",
                  "earliest_date",
                  "latest_date",
                  "date_range",
                  "show_original_value"
                ]
              }
            }
          },
          "created_time": {
            "type": "object",
            "description": "Configuration for created time type properties (empty object if present)"
          },
          "created_by": {
            "type": "object",
            "description": "Configuration for created by type properties (empty object if present)"
          },
          "last_edited_time": {
            "type": "object",
            "description": "Configuration for last edited time type properties (empty object if present)"
          },
          "last_edited_by": {
            "type": "object",
            "description": "Configuration for last edited by type properties (empty object if present)"
          },
          "status": {
            "type": "object",
            "description": "Configuration for status type properties",
            "properties": {
              "options": {
                "type": "array",
                "description": "Array of available status options for the property",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identifier for the option"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the option"
                    },
                    "color": {
                      "type": "string",
                      "enum": [
                        "blue",
                        "brown",
                        "default",
                        "gray",
                        "green",
                        "orange",
                        "pink",
                        "purple",
                        "red",
                        "yellow"
                      ],
                      "description": "The color of the option"
                    }
                  }
                }
              },
              "groups": {
                "type": "array",
                "description": "Array of option groups for the property",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Identifier for the group"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the group"
                    },
                    "color": {
                      "type": "string",
                      "enum": [
                        "blue",
                        "brown",
                        "default",
                        "gray",
                        "green",
                        "orange",
                        "pink",
                        "purple",
                        "red",
                        "yellow"
                      ],
                      "description": "The color of the group"
                    },
                    "option_ids": {
                      "type": "array",
                      "description": "A sorted list of ids of all options that belong to a group",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "place": {
            "type": "object",
            "description": "Configuration for place type properties (empty object if present)"
          },
          "unique_id": {
            "type": "object",
            "description": "Configuration for unique ID type properties",
            "properties": {
              "prefix": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "A common prefix assigned to pages in the data source"
              }
            }
          },
          "phone_number": {
            "type": "object",
            "description": "Configuration for phone number type properties (empty object if present)"
          }
        }
      },
      "dataSourceResponse": {
        "type": "object",
        "description": "Response schema for data source retrieve/create/update operations",
        "required": [
          "object",
          "id",
          "properties"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "data_source",
            "description": "Always equals 'data_source'"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the data source"
          },
          "title": {
            "type": "array",
            "description": "Title of the data source",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "const": "text"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "string"
                    },
                    "link": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "annotations": {
                  "type": "object",
                  "properties": {
                    "bold": {
                      "type": "boolean"
                    },
                    "italic": {
                      "type": "boolean"
                    },
                    "strikethrough": {
                      "type": "boolean"
                    },
                    "underline": {
                      "type": "boolean"
                    },
                    "code": {
                      "type": "boolean"
                    },
                    "color": {
                      "type": "string"
                    }
                  }
                },
                "plain_text": {
                  "type": "string"
                },
                "href": {
                  "type": "string"
                }
              }
            }
          },
          "description": {
            "type": "array",
            "description": "Description of the data source",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "const": "text"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "string"
                    },
                    "link": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "annotations": {
                  "type": "object",
                  "properties": {
                    "bold": {
                      "type": "boolean"
                    },
                    "italic": {
                      "type": "boolean"
                    },
                    "strikethrough": {
                      "type": "boolean"
                    },
                    "underline": {
                      "type": "boolean"
                    },
                    "code": {
                      "type": "boolean"
                    },
                    "color": {
                      "type": "string"
                    }
                  }
                },
                "plain_text": {
                  "type": "string"
                },
                "href": {
                  "type": "string"
                }
              }
            }
          },
          "properties": {
            "type": "object",
            "description": "Schema definitions for all properties in this data source",
            "additionalProperties": {
              "$ref": "#/components/schemas/dataSourceProperty"
            }
          }
        }
      },
      "pageObject": {
        "type": "object",
        "description": "A page object representing a single page in a data source. Pages in data sources are data source rows.",
        "required": [
          "object",
          "id",
          "created_time",
          "last_edited_time",
          "archived",
          "in_trash",
          "parent",
          "url"
        ],
        "properties": {
          "object": {
            "const": "page",
            "description": "Always equals 'page' for page objects"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the page (UUIDv4)"
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time string when the page was created"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time string when the page was last edited"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUser",
            "description": "User who created the page"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUser",
            "description": "User who last edited the page"
          },
          "cover": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "description": "File object for the cover image",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "external",
                      "file"
                    ]
                  },
                  "external": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string"
                      }
                    }
                  },
                  "file": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string"
                      },
                      "expiry_time": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            ],
            "description": "Page cover image file object or null"
          },
          "icon": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "object",
                "description": "Emoji object for the icon",
                "properties": {
                  "type": {
                    "const": "emoji"
                  },
                  "emoji": {
                    "type": "string"
                  }
                }
              },
              {
                "type": "object",
                "description": "File object for the icon",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "external",
                      "file"
                    ]
                  },
                  "external": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string"
                      }
                    }
                  },
                  "file": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string"
                      },
                      "expiry_time": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            ],
            "description": "Page icon (emoji or file object) or null"
          },
          "parent": {
            "$ref": "#/components/schemas/parentRequest",
            "description": "Information about the page's parent"
          },
          "archived": {
            "type": "boolean",
            "description": "The archived status of the page"
          },
          "in_trash": {
            "type": "boolean",
            "description": "Whether the page is in Trash"
          },
          "properties": {
            "type": "object",
            "description": "Property values of this page. Keys are property names and values are property value objects. If parent.type is 'database_id' or 'data_source_id', keys and values are determined by the properties of the data source. Otherwise, the only valid key is 'title'",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identifier for the property value"
                },
                "type": {
                  "type": "string",
                  "description": "The type of the property value"
                }
              },
              "additionalProperties": true
            }
          },
          "url": {
            "type": "string",
            "description": "The URL of the Notion page"
          },
          "public_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "The public page URL if the page has been published to the web, otherwise null"
          }
        }
      },
      "queryDataSourceResponse": {
        "type": "object",
        "description": "Response schema for data source query operations",
        "required": [
          "object",
          "results",
          "has_more"
        ],
        "properties": {
          "object": {
            "type": "string",
            "const": "list",
            "description": "Always equals 'list'"
          },
          "results": {
            "type": "array",
            "description": "Array of page objects matching the query",
            "items": {
              "$ref": "#/components/schemas/pageObject"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Cursor for the next page of results. Null if there are no more results."
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether there are more results available"
          },
          "type": {
            "type": "string",
            "enum": [
              "page",
              "data_source"
            ],
            "description": "Type of the results (always 'page' for data source queries)"
          }
        }
      },
      "blockObjectRequest": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/paragraphBlockRequest"
          },
          {
            "$ref": "#/components/schemas/bulletedListItemBlockRequest"
          },
          {
            "$ref": "#/components/schemas/heading1BlockRequest"
          },
          {
            "$ref": "#/components/schemas/heading2BlockRequest"
          },
          {
            "$ref": "#/components/schemas/heading3BlockRequest"
          },
          {
            "$ref": "#/components/schemas/numberedListItemBlockRequest"
          },
          {
            "$ref": "#/components/schemas/toDoBlockRequest"
          },
          {
            "$ref": "#/components/schemas/codeBlockRequest"
          },
          {
            "$ref": "#/components/schemas/quoteBlockRequest"
          },
          {
            "$ref": "#/components/schemas/syncedBlockRequest"
          },
          {
            "$ref": "#/components/schemas/dividerBlockRequest"
          },
          {
            "$ref": "#/components/schemas/embedBlockRequest"
          },
          {
            "$ref": "#/components/schemas/breadcrumbBlockRequest"
          },
          {
            "$ref": "#/components/schemas/equationBlockRequest"
          },
          {
            "$ref": "#/components/schemas/calloutBlockRequest"
          },
          {
            "$ref": "#/components/schemas/toggleBlockRequest"
          },
          {
            "$ref": "#/components/schemas/tableBlockRequest"
          },
          {
            "$ref": "#/components/schemas/tableRowBlockRequest"
          },
          {
            "$ref": "#/components/schemas/tableOfContentsBlockRequest"
          },
          {
            "$ref": "#/components/schemas/imageBlockRequest"
          },
          {
            "$ref": "#/components/schemas/videoBlockRequest"
          },
          {
            "$ref": "#/components/schemas/fileBlockRequest"
          },
          {
            "$ref": "#/components/schemas/audioBlockRequest"
          },
          {
            "$ref": "#/components/schemas/pdfBlockRequest"
          },
          {
            "$ref": "#/components/schemas/bookmarkBlockRequest"
          },
          {
            "$ref": "#/components/schemas/childDatabaseBlockRequest"
          },
          {
            "$ref": "#/components/schemas/childPageBlockRequest"
          },
          {
            "$ref": "#/components/schemas/columnListBlockRequest"
          },
          {
            "$ref": "#/components/schemas/columnBlockRequest"
          },
          {
            "$ref": "#/components/schemas/linkPreviewBlockRequest"
          },
          {
            "$ref": "#/components/schemas/templateBlockRequest"
          }
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Databases",
      "description": "Database endpoints for retrieving database metadata"
    },
    {
      "name": "Data sources",
      "description": "Data source endpoints for querying and managing databases"
    },
    {
      "name": "Pages",
      "description": "Page endpoints for creating and managing pages"
    },
    {
      "name": "Blocks",
      "description": "Block endpoints for managing page content"
    },
    {
      "name": "Users",
      "description": "User endpoints"
    },
    {
      "name": "Search",
      "description": "Search endpoints"
    },
    {
      "name": "Comments",
      "description": "Comment endpoints"
    }
  ],
  "paths": {
    "/v1/users/{user_id}": {
      "get": {
        "summary": "Retrieve a user",
        "description": "",
        "operationId": "get-user",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {}
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/users": {
      "get": {
        "summary": "List all users",
        "operationId": "get-users",
        "parameters": [
          {
            "name": "start_cursor",
            "in": "query",
            "description": "If supplied, this endpoint will return a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items from the full list desired in the response. Maximum: 100",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {}
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/users/me": {
      "get": {
        "summary": "Retrieve your token's bot user",
        "description": "",
        "operationId": "get-self",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "object": "user",
                      "id": "16d84278-ab0e-484c-9bdd-b35da3bd8905",
                      "name": "pied piper",
                      "avatar_url": null,
                      "type": "bot",
                      "bot": {
                        "owner": {
                          "type": "user",
                          "user": {
                            "object": "user",
                            "id": "5389a034-eb5c-47b5-8a9e-f79c99ef166c",
                            "name": "christine makenotion",
                            "avatar_url": null,
                            "type": "person",
                            "person": {
                              "email": "christine@makenotion.com"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "user"
                    },
                    "id": {
                      "type": "string",
                      "example": "16d84278-ab0e-484c-9bdd-b35da3bd8905"
                    },
                    "name": {
                      "type": "string",
                      "example": "pied piper"
                    },
                    "avatar_url": {},
                    "type": {
                      "type": "string",
                      "example": "bot"
                    },
                    "bot": {
                      "type": "object",
                      "properties": {
                        "owner": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "user"
                            },
                            "user": {
                              "type": "object",
                              "properties": {
                                "object": {
                                  "type": "string",
                                  "example": "user"
                                },
                                "id": {
                                  "type": "string",
                                  "example": "5389a034-eb5c-47b5-8a9e-f79c99ef166c"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "christine makenotion"
                                },
                                "avatar_url": {},
                                "type": {
                                  "type": "string",
                                  "example": "person"
                                },
                                "person": {
                                  "type": "object",
                                  "properties": {
                                    "email": {
                                      "type": "string",
                                      "example": "christine@makenotion.com"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/search": {
      "post": {
        "summary": "Search by title",
        "description": "",
        "operationId": "post-search",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The text that the API compares page and database titles against."
                  },
                  "sort": {
                    "type": "object",
                    "description": "A set of criteria, `direction` and `timestamp` keys, that orders the results. The **only** supported timestamp value is `\"last_edited_time\"`. Supported `direction` values are `\"ascending\"` and `\"descending\"`. If `sort` is not provided, then the most recently edited results are returned first.",
                    "properties": {
                      "direction": {
                        "type": "string",
                        "description": "The direction to sort. Possible values include `ascending` and `descending`."
                      },
                      "timestamp": {
                        "type": "string",
                        "description": "The name of the timestamp to sort against. Possible values include `last_edited_time`."
                      }
                    }
                  },
                  "filter": {
                    "type": "object",
                    "description": "A set of criteria, `value` and `property` keys, that limits the results to either only pages or only data sources. Possible `value` values are `\"page\"` or `\"data_source\"`. The only supported `property` value is `\"object\"`.",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "The value of the property to filter the results by.  Possible values for object type include `page` or `data_source`.  **Limitation**: Currently the only filter allowed is `object` which will filter by type of object (either `page` or `data_source`)",
                        "enum": [
                          "page",
                          "data_source"
                        ]
                      },
                      "property": {
                        "type": "string",
                        "description": "The name of the property to filter by. Currently the only property you can filter by is the object type.  Possible values include `object`.   Limitation: Currently the only filter allowed is `object` which will filter by type of object (either `page` or `data_source`)"
                      }
                    }
                  },
                  "start_cursor": {
                    "type": "string",
                    "description": "A `cursor` value returned in a previous response that If supplied, limits the response to results starting after the `cursor`. If not supplied, then the first page of results is returned. Refer to [pagination](https://developers.notion.com/reference/intro#pagination) for more details."
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "The number of items from the full list to include in the response. Maximum: `100`.",
                    "default": 100,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/blocks/{block_id}/children": {
      "get": {
        "summary": "Retrieve block children",
        "description": "",
        "operationId": "get-block-children",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a [block](ref:block)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "start_cursor",
            "in": "query",
            "description": "If supplied, this endpoint will return a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items from the full list desired in the response. Maximum: 100",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Append block children",
        "description": "",
        "operationId": "patch-block-children",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a [block](ref:block). Also accepts a [page](ref:page) ID.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "children"
                ],
                "properties": {
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequest"
                    },
                    "description": "Child content to append to a container block as an array of [block objects](ref:block)"
                  },
                  "after": {
                    "type": "string",
                    "description": "The ID of the existing block that the new block should be appended after."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
[...]
